@import '../../variables';

$button-base-bgd-color: #f3f7ff;// #e4edff;
$button-base-color: #4288f9;
$color-danger: #ff4444;
$color-default: #4288f9;
$button-base-radius: $border-radius;
$button-round-radius: 64px;

$button-sizes: (
  base-size: (font-size: 0.9em, height: 36px, pad-x: 15px),
  small: (font-size: 12px, height: 28px, pad-x: 15px),
  large: (font-size: 18px, height: 50px, pad-x: 20px)
);

$button-base-size-height: 36px;
$button-base-size-font-size: 0.9em;

$button-small-height: 30px;
$button-small-font-size: 13px;

$button-large-font-size: 16px;
$button-large-height: 20px;

:host {
  button {
    color: $button-base-color;
    border: none;
    border-radius: $border-radius;
    background-color: $button-base-bgd-color;
    font-family: $font-family;
    font-weight: 500;
    display: inline-flex;
    justify-content: space-between;

    &:hover {
      background: darken($button-base-bgd-color, 2%);
    }

    &:active {
      background: darken($button-base-bgd-color, 5%);
      outline: none;
      border: none;
    }
    &:focus {
      outline: none;
    }
  }
}
:host(.block) {
  display: flex;
  button {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

:host(.icon-only) button {
  display: inline-flex;
  justify-content: space-around;
}

:host(.circle) button {
  border-radius: 100%;
}

:host(.round) button {
  border-radius: $button-round-radius;
}

:host(.primary) {
  button {
    background-color: $button-base-color;
    color: white;

    &:hover {
      background: lighten($color-default, 2%);
    }
    &:active {
      background: darken($color-default, 2%);
    }
  }
}

:host(.danger) {
  button {
    background-color: $color-danger;
    color: white;

    &:hover {
      background: lighten($color-danger, 2%);
    }
    &:active {
      background: darken($color-danger, 2%);
    }
  }
}

@each $size, $size-map in $button-sizes {
  :host(.#{$size}) {
    button {
      font-size: map-get($size-map, font-size);
      height: map-get($size-map, height);
      padding: {
        left: map-get($size-map, pad-x);
        right: map-get($size-map, pad-x);
      }
    }
  }
  :host(.#{$size}.circle), :host(.#{$size}.circle) {
    button {
      width: map-get($size-map, height);
    }
  }
}
